.cnter2 {
    align-content: center;
    text-align: center;
}

.tabo {
    background-color: #265500;
    font-size: 16px;
}

.right2 {
    text-align: right;
}

.left2 {
    text-align: left;
}

.code {
    background-color: #265500;
    color: #eee;
    font-size: 15px;
    text-shadow: 4px 4px 8px #333;
    padding-right: 100px;
    padding: 20px;
    position: relative;
}

.fontt2 {
    font-size: 16px;
}

#f1f {
    font-family: cursive;
}

.badd2 {
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mycolor {
    background-color: #ecf0f1;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mycolor2 {
    background-color: #ecf0f1;
}

.myicon {
    width: 300px;
}

.mar2 {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.foto2 {
    width: 30px;
    height: auto;
    margin-right: 30px;
}

#btnScroll {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 99;
    cursor: pointer;
    padding: 16px;
}

.fofo {
    width: auto;
    height: 300px;
}

.bgcard2 {
    background-image: url(../img/bgcard.jpg);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
}

.lli2 {
    display: flex;
}

.bgcard3 {
    background-image: url(../img/bgcard3.jpg);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
}